.body {
    background-color: #e7e7de;
}

.navbar {
    background-color: #0f3057;
}

.section {
    background-color: #008891;
}

.games {
    max-height: 352px;
}
.sports {
    max-height: 150px;
}
