.body {
    background-color: #e7e7de;
}

.navbar {
    background-color: #0f3057;
}

.section {
    background-color: #00587a;
}

.carousel-inner {
    background-color: #000000;
}

.carousel-inner img {
  margin: auto;
}

.games {
    max-height: 300px;
}

.sports {
    max-height: 150px;
}
