body {
    background-color: #e7e7de;
}

.navbar {
    background-color: #0f3057;
}

.navbar-nav-svg {
    width: 1rem;
    height: 1rem;
}

.footer {
    padding: 2em 5%;
}

.section {
    background-color: #00587a;
    color: #FFFFFF;
    padding: 2em 5%;
}

.carousel-inner {
    background-color: #000000;
}

.carousel-inner img {
    margin: auto;
}

.games {
    max-height: 300px;
}

.sports {
    padding: 2em 0;
}
.sports-img {
    max-height: 150px;
}
